@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div > header {
  padding-top: 1rem;
}

div > header > h1 {
  margin-bottom: 0.2em;
  padding-left: 1em;
}


div > header > sub {
  padding-left: 1em;
}

div > header > sub > a {
  text-decoration: underline;
}


.new-button {
  width: fit-content;
  position: absolute;
  right: 3rem;
}

.task {
  position: relative;
}

.task > h2 {
  line-height: 1.5em;
  height: 3em;
  font-size: 1.5em;
  text-overflow-mode: clip;
  overflow: hidden;
}

.task > p {
  max-height: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
  left: 50%;
}

.task > button {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  margin-bottom: 0.25em;
}
/*Popup*/

.new-task-modal {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px;
}

.new-task-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.new-task-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.close-button {
  width: 1.75rem;
  height: 1.75rem;
  position: fixed;
  top: 15px;
  right: 15px;
}

.close-button:hover {
  width: 1.9rem;
  height: 1.9rem;
}
