# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/backend/vendor
/backend/bin/_sds
/backend/bin/test*
/cli/vendor
/cli/bin/test*
/frontend/vendor
/frontend/node_modules